@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Ruthie);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #333333;
	color: #ecf0f1;
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
	overflow-x: hidden;
}

a {
	color: #95a5a6;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #fff;
}

/* shit I added */
.box a {
	color: #2c3e50;
	text-decoration: none;
	outline: none;
}

/*.box a:hover, .box a:focus {*/
.box a:hover {
	color: #fff;
}
/* shit I added */

.header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
}

.header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 0.6em;
	opacity: 0.7;
}

/* To Navigation Style */
.top {
	background: rgba(255, 255, 255, 0.1);
	width: 100%;
	position: fixed;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
	z-index: 9999;
	top: 0;
	left: 0;
}

.top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.top span.right {
	float: right;
}

.top span.right a {
	display: block;
	float: left;
}

.icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.icon-drop:before {
	content: "\e001";
}

.icon-prev:before {
	content: "\e004";
}

section {
	padding: 4em 2em;
	text-align: center;
}

section h2 {
	font-weight: 300;
	font-size: 2em;
	padding: 1em 0;
}

.header + section {
	padding-top: 1.5em;
}

.pt-page::-webkit-scrollbar {
	width: 16px;
	background-color: #2c3e50;
}

.pt-page::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, .1);
}

.related p {
	font-size: 1.5em;
}

.related > a {
	background: rgba(0,0,0,0.05);
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	-webkit-transition: color 0.3s, background-color 0.3s;
	transition: color 0.3s, background-color 0.3s;
}

.related a:hover {
	background-color: rgba(0,0,0,0.4);
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

.mstb {
	float: left;
	width: 100%;
}

.mstb-box, .buttons {
	height: 100%;
	width: 300px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.buttons {
	list-style-type: none;
	padding: 0;
}

.buttons a:hover {
	cursor: pointer;
}

.buttons h3 {
	font-family: "Ruthie", cursive;
	font-size: 180px;
	line-height: 270px;
	margin: 0;
	font-weight: 400;
	width: 100%;
}

.mstb-box {
	border: 5px solid white;
	height: 500px;
}

.mstb-box ul {
	padding: 0;
	list-style-type: none;
}

#box-1 li, #box-2 li {
	text-align: center;
	font-size: 40px;
}

#box-1 a, #box-2 a {
	outline: 0;
	cursor: pointer;
}

#box-1 a:active, #box-2 a:active,
#box-1 a:focus, #box-2 a:focus  {
	color: #ecf0f1;
}

.btn-container {
	width: 100%;
	float: left;
}

.btn-border {
	width: 130px;
	border: 3px solid #fe6f83;
	border-radius: 20px;
	display: inline-block;
}

.btn-border h3 {
	margin: 0;
	font-family: "Ruthie", cursive;
	font-size: 40px;
	vertical-align: middle;
}

span.active {
	color: rgba(255, 0, 0, 1);
}

span.disconnected {
	color: rgba(0, 255, 0, 1);
}

@media screen and (max-width: 25em) {

	.icon span {
		display: none;
	}

}